/* global variables */
$bg-lite-grey: #f5f5f5;
$bg-clear-blue: #e6f4fd;
$bg-lite-blue: #a3cde9;
$bg-lite-pink: #ffcfc8;
$bg-lite-purp: #c9acd1;
$bg-lite-gold: #facd6c;
$bg-proof-green: #85c5a0;
$bg-proof-blue: #5ebbf8;
$bg-lite-teal: #76c4c9;
$bg-shade-black: #303030;
// $bg-shade-black: #363636;

$text-home-teal: #58CEC2;
$text-dark-teal: #118bb1;
$text-expire-blue: #418fde;
$text-starbuck-green: #73a173;
$text-exit-red: #eb8289;
$text-dark-grey: #555555;
$text-mid-grey: #7e7e7e;
$text-lite-grey: #b9b9b9;
$text-mid-gold: #ffbc2c;
$text-lite-white: #dfdfdf;

$border-white: #ffffff;
$border-fade-grey: #ebebeb;
$border-lite-grey: #d4d4d4;
$border-grey: #b4b3b3;
$border-mid-grey: #8d8989;
$border-starbuck-green: #accaac;

$btn-default-teal: #26a69a;
$btn-lite-teal: #40c4b6;

$mobile-height: 100vh;
$mobile-max-width: 32em;
$desktop-width: 70em;