@import "./shared/_reset.scss";
@import "./shared/_responsive.scss";
@import "./shared/_variables.scss";

.kiki {
    background: color;

    // default sass responsive
    @include responsive (mobile-sm) {
        padding: 0.75em;
        min-width: 80%; 
        margin: auto;
    }; 
    @include responsive (mobile-md) {
        padding: 1.25em;
        min-width: 375px; 
        margin: auto;
    }; 
    @include responsive (mobile-lg) {
        padding: 1.5em;
        min-width: 375px; 
        margin: auto;
    }; 
    @include responsive (laptop) {
        background-position: center;
        background-attachment: fixed;
        min-width: 90em;
        max-width: 100em;
    }

}