@import "./shared/_reset.scss";
@import "./shared/_responsive.scss";
@import "./shared/_variables.scss";

.swal2-popup {
    background: $bg-shade-black !important;
    border: 0.1em solid $text-lite-white !important;

    .swal2-icon {
        border-color: $text-mid-gold !important;
        color: $text-mid-gold !important;
    }
    .swal2-title {
        color: $text-lite-white !important;
    }
    .swal2-content {
        color: $btn-lite-teal !important;
        font-size: 11pt;
    }
    .swal2-confirm {
        font-family: 'Dos';
    }
    .swal2-cancel {
        font-family: 'Dos';
    }
}

body{
    background: $bg-shade-black;
    font-family: 'Dos';
    line-height: 1.2em;
    font-size: 10pt;
}

.kiki {

    // default sass responsive
    @include responsive (mobile-sm) {
        padding: 0.75em;
        min-width: 80%; 
        margin: auto;
    }; 
    @include responsive (mobile-md) {
        padding: 1.25em;
        min-width: 375px; 
        margin: auto;
    }; 
    @include responsive (mobile-lg) {
        padding: 1.5em;
        min-width: 375px; 
        margin: auto;
    }; 
    @include responsive (laptop) {
        background-position: center;
        background-attachment: fixed;
        min-width: $mobile-max-width;
        max-width: $desktop-width;
        width: $mobile-max-width;
        height: 100vh;
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 4%;
    }

    .spacing {
        height: 0.5em;
    }
    .divider {
        border-color: $border-grey;
    }
    
    .landing-page {
        color: $text-lite-white;
    }

    .enter-page {
        color: $text-lite-white;
        
        .password-box-wrap {
            margin-top: 8em;
            border: 0.15em solid $border-grey;
            height: 19.5em;

            .password-box {
                border: 0.11em solid $border-grey;
                height: 18.55em;
                margin: 0.25em;
                
                .enter-password-text {
                    margin: 1.5em; 
                    font-size: 15pt;
                }
                .password-input {
                    margin-left: 7.5%;
                    margin-right: 7.5%;
                    width: 85%;
                    height: 3em;
                    background: $bg-shade-black;
                    font-family: "Dos";
                    color: $text-lite-white;
                }
                input:focus {
                    border-bottom: 0.1em solid $text-lite-white;
                    box-shadow: none;
                }

                .go-btn {
                    padding: 0.3em;
                    margin-top: 15%;
                    margin-left: 35%;
                    margin-right: 35%;
                    background: $border-lite-grey;
                    color: $bg-shade-black;
                    font-size: 18pt;
                    text-align: center;
                }

            }
        }
    }

    .intro-page {
        border: 0.15em solid $border-grey;
        
        .intro-wrapper {
            border: 0.11em solid $border-grey;
            margin: 0.25em;
            height: 38em;
        }
        .top-box {
            border-bottom: 0.11em solid $border-grey;

            .top-box-text {
                text-align: center;
                color: $text-lite-white;
                margin-top: 0.75em;
                margin-bottom: 0.75em;
                font-size: 11pt;
            }
        }
        .react-player {
            height: 11em !important;
            width: 18.5em !important;
            margin: auto;
            margin-top: 5%;
            border: 0.11em solid $border-grey;
            padding: 0.5em;
        }
        .video-player-label {
            text-align: center;
            color: $text-lite-white;
            font-size: 12pt;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
        .arrow-icon {
            font-size: 30pt;
            margin-top: 1.5%;
            margin-left: 52%;
            padding: 1.5%;
            padding-left: 7.5%;
            padding-right: 7.5%;
            color: $bg-shade-black;
            background: $text-lite-white; 
        }
        
        .your-turn-text {
            margin-top: 8em;
            font-size: 12pt;
            color: $text-lite-white; 
            text-align: center;
        }
        .scan-in-box-wrap {
            border: 0.11em solid $border-grey;
            background: $text-lite-white; 
            height: 5em;
            margin: 0.25em;
            margin-top: 5em;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 39%;

            .scan-in-text {
                border: 0.06em dashed $bg-shade-black;
                margin: 0.1em;
                height: 2.5em;
                font-size: 18pt;
                padding-top: 0.85em;
                text-align: center;
                color: $bg-shade-black;
            }
        }

        .arrow-icon-2 {
            font-size: 30pt;
            margin-top: 1.5%;
            margin-left: 1.5%;
            padding: 1.5%;
            padding-left: 7.5%;
            padding-right: 7.5%;
            color: $bg-shade-black;
            background: $text-lite-white; 
        }
    }

    .market-page {
        margin-top: 0em !important;
        height: 50em;
        background: $bg-shade-black;

        .header-bar {
            height: 4em;
            background: $text-lite-white;
            border-radius: 0.5em;

            .header-title {
                text-align: center;
                font-size: 15pt;
                padding: 0.75em;
                color: $bg-shade-black;
                border-bottom: 0.2em solid $bg-shade-black;
            }
        }

        .nav-bar {
            margin-top: 1.25em;
            height: 4.25em;
            border: 0.1em solid $text-lite-white;
            padding: 0.85em;

            .nav-title {
                color: $text-lite-white;
                font-size: 10pt;
                margin-top: 0em;
                margin-left: 0.6em;    
                margin-right: 0.2em; 
                border: 0.1em solid $text-lite-white;
                padding: 0.5em;
                padding-left: 0.7em;
                padding-right: 0.7em;    
                display: inline-block;
            }
        }

        .market-wrap {
            margin-top: 1.5em;
            height: 23em;
            border-radius: 0.15em;
            border: 0.1em solid $text-lite-white;
            border-bottom: 0.75em solid $text-lite-white;
            border-radius: 0.85em;
            border-top-left-radius: 0em;
            border-top-right-radius: 0em;

            .hex-code-text {
                text-align: center;
                color: $text-lite-white;
                font-size: 12pt;
            }
        }
        .market-mid {
            border-top: 0.1em solid $text-lite-white;
            background: $text-lite-white;
            height: 4em;    
            margin-top: -1em;
            margin-right: -0.1em
        }
        .market-bottom {
            margin-top: -0.68em;
            height: 0.25em;
            margin-bottom: 3.5em;
            background: $bg-shade-black;
            position: relative;
            z-index: 10;
        }    

        .market-header {
            height: 1.5em;
            background: $text-lite-white;
            margin-bottom: 1em;    
            margin-right: -0.1em;
            margin-top: -0.1em;
        }

        // t-shirt side
        .test-shirt-area {
            margin: 1em;
            border: 0.1em solid $text-lite-white;
            border-bottom: 0em;

        }
        .test-shirt-image {
            border: 0.1em solid $text-lite-white;
            border-bottom: 0em;
            width: 85%;
            margin: auto;
            margin-top: 1.25em;
            display: block;
            padding: 0.5em;
        }
        .market-bottom-border {
            margin: auto;
            width: 74.5%;
            border-bottom: 0.15em solid $bg-shade-black;
            border-left: 0.15em solid $bg-shade-black;
            border-right: 0.15em solid $bg-shade-black;
            height: 1.5em;    
        }

        .shirt-text-area {
            height: 16.8em;
            padding: 0.5em;

            .top-text-box {
                color: $text-mid-gold;
                font-size: 17pt;
                line-height: 1em;
                padding-top: 1em;
            }
            .bot-text-box {
                color: $btn-lite-teal;
                font-size: 8.5pt;
            }
        }
        .divider-box {
            border-top: 0.15em solid $text-lite-white;
            margin-top: 1em;    
            margin-left: -0.5em !important;
            margin-right: -1.5em !important;
        }
        .left-box {
            height: 5em;

            .buy-btn {
                color: $text-lite-white;
                text-align: center;
                font-size: 25pt;
                padding-top: 0.7em;
            }
        }

    }

    .header-title-text {
        color: $text-main-oj !important;
    }

    .white-area {
        background: $text-lite-white;
    }
    .black-area {
        background: $bg-shade-black;
    }

    .shirt-btn {
        font-size: 12pt;
        text-align: center;
        padding: 0.75em;
        margin: 0.75em;
        border: 0.1em solid $text-lite-white;     
    }
    .remix-color {
        color: $text-dark-teal;
    }
    .send-color {
        color: $btn-default-green;
    }
    .redeem-color {
        color: $border-mid-gold;
    }

}